<div class="side-menu">
  <div class="event-title">
    <p>SPLACA 2019</p>
  </div>
  <img src="assets/slaca-logo.png" alt="Slaca Logo" />
  <nav>
    <ul>
      <li class="nav-item">
        <a href="#">Apresentação</a>
      </li>
      <li class="nav-item">
        <a href="#">Comitês</a>
      </li>
      <li class="nav-item">
        <a href="#">Autores</a>
      </li>
      <li class="nav-item">
        <a href="#">Eixos Temáticos</a>
      </li>
      <li class="nav-item active">
        <a href="#">Trabalhos</a>
      </li>
      <li class="nav-item">
        <a href="#">Contato</a>
      </li>
    </ul>
  </nav>
</div>
