<header class="header">
  <div>
    <p class="header_text1">
      Anais do Simpósio Latino Americano de Ciências de Alimentos
    </p>
    <p class="header_text2">
      Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
    </p>
    <p class="header_text3">ISSN: 1234-5678</p>
  </div>
  <div class="language-profile-box">
    <button class="language-btn">
      <span>🌐</span>
      <p>PT, BR</p>
      <span>▼</span>
    </button>
    <div class="profile-info">
      <div>
        <p class="welcome-msg">Bem vindo!</p>
        <p class="email">alguem12&#64;galoascience.com</p>
      </div>
      <div class="profile-pic-box">
        <img
          class="profile-pic"
          src="../assets/profile-pic.png"
          alt="Foto de perfil"
        />
        <img
          class="notification-badge"
          src="../assets/notification-badge.png"
          alt="notification badge"
        />
      </div>
    </div>
  </div>
</header>
