.header {
  margin-left: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 36px;
  background-color: #fdf1eb;
  color: #725c5c;

  &-text1,
  &-text3 {
    font-size: 14px;
  }

  &-text2 {
    font-size: 20px;
  }

  .language-profile-box {
    display: flex;
    gap: 22px;

    .language-button {
      border: 1px solid #cccccc;
      padding: 8px 14px;
      border-radius: 4px;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      color: #333333;
      font-size: 14px;

      svg {
        width: 16px;
        height: 16px;
      }
      &:hover {
        border-color: #333333;
      }
    }
  }

  .profile-info {
    display: flex;
    text-align: end;
    gap: 6px;

    .welcome-message {
      font-size: 14px;
    }

    .email {
      font-size: 12px;
    }

    .profile-picture-box {
      position: relative;

      .profile-picture {
        width: 30px;
        height: 30px;
      }
      .notification-badge {
        width: 12px;
        height: 12px;
        position: absolute;
        top: -2px;
        right: -2px;
      }
    }
  }
}
