<main>
  <div class="menu">
    <div class="event-title">
      <p>SPLACA 2019</p>
    </div>
    <img src="../assets/slaca-logo.png" alt="Slaca Logo" />
    <nav>
      <ul>
        <li class="nav-list-item">
          <a href="/">Apresentação</a>
        </li>
        <li class="nav-list-item">
          <a href="/">Comitês</a>
        </li>
        <li class="nav-list-item">
          <a href="/">Autores</a>
        </li>
        <li class="nav-list-item">
          <a href="/">Eixos Temáticos</a>
        </li>
        <li class="nav-list-item link-active">
          <a href="/">Trabalhos</a>
        </li>
        <li class="nav-list-item">
          <a href="/">Contato</a>
        </li>
      </ul>
    </nav>
  </div>
</main>
