.discussion {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  border-radius: 4px;

  &-header {
    background-color: #fdf1eb;
    padding: 8px 16px;
    border-bottom: 1px solid #ececec;
    font-weight: 500;
    font-size: 20px;
    color: #4e4e4e;
  }

  &-content {
    padding: 16px;
    font-family: "Quicksand", sans-serif;
    color: #5c5c5c;
    letter-spacing: 0.02em;

    &-createtopic {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      align-items: center;
      position: relative;

      &-title {
        font-family: "Roboto", sans-serif;
        color: #ed7839;
        font-weight: 700;
        font-size: 18px;
      }

      &-icons {
        display: flex;
        gap: 52px;
      }

      &-description {
        max-width: 600px;
        font-size: 14px;
        font-family: "Quicksand", sans-serif;
        text-align: center;
      }

      &-button {
        background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
        border: none;
        font-family: "quicksand", sans-serif;
        font-weight: 700;
        color: #ffffff;

        padding: 8px 16px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 6px;

        position: absolute;
        top: 169px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    &-form {
      p {
        margin-bottom: 22px;
        color: #5c5c5c;
        font-size: 14px;
        text-align: center;
      }

      &-box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .discussion-content-form-label {
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          color: #ed7839;
        }

        .discussion-content-form-input {
          padding: 10px 20px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          font-family: "Quicksand", sans-serif;
          font-weight: 500;
        }

        .discussion-content-form-input::placeholder {
          font-size: 14px;
          font-family: "Quicksand", sans-serif;
          color: #4d4d4d;
        }
        .textarea {
          // border-bottom: 0;
          border-radius: 4px 4px 0 0;
          min-height: 115px;
        }
      }

      .submit-btn-box {
        display: flex;
        background-color: #eaf1f2;
        justify-content: end;
        border-radius: 0 0 4px 4px;
        border: 1px solid #cccccc;
        border-top: 0;
      }
      .submit-btn {
        background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
        border: none;
        font-family: "quicksand", sans-serif;
        font-weight: 700;

        color: #ffffff;
        padding: 8px 70px;
        border-radius: 0 0 4px 0;
      }
    }

    &-topic-sent {
      font-family: "Quicksand", sans-serif;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;

      .sucess-msg {
        font-family: "roboto", sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #ed7839;
      }
      .sucess-description-msg {
        font-family: "Quicksand", sans-serif;
        font-size: 14px;
      }

      a {
        color: #f48f44;
        text-decoration: underline;
      }
    }
  }
}

.discussion-content-createnewtopic-button {
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  border: none;
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  color: #ffffff;

  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 6px;

  position: absolute;
  top: 104px;
}

.break-line {
  border-top: 1px solid #ececec;
  margin-block: 20px;
}

.topic-card {
  padding: 24px 16px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 8px 0px #0000001f;
}
.topic-title {
  color: #ed7839;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.topic-author {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #5c5c5c;
}
.topic-summary {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  margin-block: 10px;
}
.topic-actions {
  display: flex;
  gap: 15px;
  align-items: center;

  p {
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    font-weight: 350;
    color: #757575;
  }
}

.more-info-btn {
  background-color: transparent;
  border: none;
  padding-top: 2px;

  svg {
    height: 18px;
  }
}
.heart-btn {
  background-color: #ed7839;
  border: none;
  border-radius: 4px;
  padding: 2px 6px 0;
  box-shadow: 0px 2px 2px 0px #0000003d;

  svg {
    height: 14px;
    width: 14px;
  }
}
