<section class="discussion">
  <div class="discussion-header">
    <h3>Discussões</h3>
  </div>

  <div class="discussion-content">
    <div *ngIf="isCreateTopicCallShowing" class="discussion-content-createtopic">
      <h4 class="discussion-content-createtopic-title">
        Compartilhe suas ideias ou dúvidas com os autores!
      </h4>

      <div class="discussion-content-createtopic-icons">
        <img
          src="../../../assets/icone1.png"
          alt="ícone de uma mão com um galho e flores em cima"
        />
        <img
          src="../../../assets/icone2.png"
          alt="ícone com as letras Q e A escritos em branco em caixinhas laranja"
        />
        <img
          src="../../../assets/icone3.png"
          alt="ícone de duas pessoas com uma lâmpada laranja no meio delas"
        />
      </div>

      <p class="discussion-content-createtopic-description">
        Sabia que o maior estímulo no desenvolvimento científico e cultural é a
        curiosidade? Deixe seus questionamentos ou sugestões para o autor!
      </p>

      <button
        (click)="showForm()"
        class="discussion-content-createtopic-button btn-offset"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            fill="rgb(255, 255, 255)"
            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
          />
        </svg>
        criar tópico
      </button>
    </div>

    <div *ngIf="isFormShowing" class="discussion-content-form">
      <p>
        Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
      </p>
      <form #topicForm="ngForm" (ngSubmit)="submitForm(topicForm)">
        <div class="discussion-content-form-box">
          <label for="subject" class="discussion-content-form-label">
            Assunto:
          </label>
          <input
            type="text"
            id="subject"
            name="subject"
            class="discussion-content-form-input"
            placeholder="Defina um tópico sucinto para notificar os autores..."
            ngModel
            required
          />

          <label for="content" class="discussion-content-form-label">
            Conteúdo:
          </label>
          <textarea
            id="content"
            name="content"
            class="discussion-content-form-input textarea"
            ngModel
            required
          ></textarea>
        </div>
        <div class="submit-btn-box">
          <button type="submit" class="submit-btn">Enviar</button>
        </div>
      </form>
    </div>

    <div *ngIf="isSubmitSucessShowing" class="discussion-content-topic-sent">
      <p class="sucess-msg">Seu tópico foi enviado com sucesso! :D</p>
      <p class="sucess-description-msg">
        Agradecemos por sua contribuição, uma notificação será enviada ao seu
        email assim que seu tópico for respondido!
      </p>
      <a href="#">Descubra outros trabalhos!</a>
      <button
        (click)="showForm()"
        class="discussion-content-createnewtopic-button"
      >
        criar novo tópico
      </button>
    </div>

    <div class="break-line"></div>

    <div class="topic-card">
      <p class="topic-title">Assunto da pergunta aparece aqui</p>
      <p class="topic-author">Carlos Henrique Santos</p>
      <p class="topic-summary">
        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo
        da análise da dimensão e impacto de processo formativo situado impacto
        de processo formativo processo...
      </p>
      <div class="topic-actions">
        <button class="more-info-btn" title="mais informações">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512">
            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              fill="rgb(237, 120, 57)"
              d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"
            />
          </svg>
        </button>
        <button class="heart-btn" title="curtir">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              fill="rgb(255, 255, 255)"
              d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
            />
          </svg>
        </button>

        <p>1 like</p>
        <p>1 resposta</p>
      </div>
    </div>
  </div>
</section>
