<section class="discussion">
  <div class="discussion-header">
    <h3>Discussões</h3>
  </div>

  <div class="discussion-content">
    <div *ngIf="isCreateTopicCallShowing" class="create-topic-container">
      <h4 class="create-topic-title">
        Compartilhe suas ideias ou dúvidas com os autores!
      </h4>

      <div class="create-topic-icons">
        <img
          src="../../../assets//icons/discussions-icon1.png"
          alt="ícone de uma mão com um galho e flores em cima"
        />
        <img
          src="../../../assets//icons/discussions-icon2.png"
          alt="ícone com as letras Q e A escritos em branco em caixinhas laranja"
        />
        <img
          src="../../../assets//icons/discussions-icon3.png"
          alt="ícone de duas pessoas com uma lâmpada laranja no meio delas"
        />
      </div>

      <p class="create-topic-description">
        Sabia que o maior estímulo no desenvolvimento científico e cultural é a
        curiosidade? Deixe seus questionamentos ou sugestões para o autor!
      </p>

      <button (click)="showForm()" class="btn-create-topic">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            fill="rgb(255, 255, 255)"
            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
          />
        </svg>
        criar tópico
      </button>
    </div>

    <div *ngIf="isFormShowing" class="discussion-form-container">
      <p>
        Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
      </p>
      <form #topicForm="ngForm" (ngSubmit)="submitForm(topicForm)">
        <div class="discussion-form-box">
          <label for="subject" class="discussion-form-label"> Assunto </label>
          <input
            type="text"
            id="subject"
            name="subject"
            class="discussion-form-input subject"
            placeholder="Defina um tópico sucinto para notificar os autores..."
            ngModel
            required
          />

          <label for="content" class="discussion-form-label"> Conteúdo </label>
          <textarea
            id="content"
            name="content"
            class="discussion-form-input textarea"
            ngModel
            required
          ></textarea>
        </div>
        <div class="submit-btn-box">
          <button type="submit" class="submit-btn">Enviar</button>
        </div>
      </form>
    </div>

    <div *ngIf="isSubmitSucessShowing" class="discussion-topic-sent-container">
      <p class="sucess-msg">Seu tópico foi enviado com sucesso! :D</p>
      <p class="sucess-description-msg">
        Agradecemos por sua contribuição, uma notificação será enviada ao seu
        email assim que seu tópico for respondido!
      </p>
      <a href="#">Descubra outros trabalhos!</a>
      <button (click)="showForm()" class="create-new-topic-btn">
        criar novo tópico
      </button>
    </div>

    <div class="break-line"></div>

    <div class="new-topic-card" *ngIf="isNewTopicCardShowing">
      <p class="new-topic-title">Assunto da pergunta aparece aqui</p>
      <p class="new-topic-author">Carlos Henrique Santos</p>
      <p class="new-topic-summary">
        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo
        da análise da dimensão e impacto de processo formativo situado impacto
        de processo formativo processo...
      </p>

      <div class="waiting-feedback">
        <img
          width="30"
          src="../../../assets/icons/double-check.png"
          alt="símbolo de duplo check"
        />
        <p>Aguardando feedback dos autores</p>
        <a href="#">Editar tópico</a>
      </div>
    </div>

    <app-topic-card
      *ngFor="let topic of topicList"
      [topic]="topic"
    ></app-topic-card>
  </div>
</section>
