.topic-card {
  padding: 24px 16px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 8px 0px #0000001f;
  margin-bottom: 16px;

  .topic-title {
    color: #ed7839;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }
  .topic-author {
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #5c5c5c;
  }
  .topic-summary {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    margin-block: 10px;
  }
  .topic-actions {
    display: flex;
    gap: 15px;
    align-items: center;

    p {
      font-family: Segoe UI, sans-serif;
      font-size: 14px;
      font-weight: 350;
      color: #757575;
    }
  }
  .more-info-btn {
    background-color: transparent;
    border: none;
    padding-top: 2px;

    svg {
      height: 18px;
    }
  }
  .heart-btn {
    background-color: #ed7839;
    border: none;
    border-radius: 4px;
    padding: 2px 6px 0;
    box-shadow: 0px 2px 2px 0px #0000003d;

    svg {
      height: 14px;
      width: 14px;
    }
  }
}
