<section class="details">
  <div class="details-header">
    <h3>Detalhes</h3>
  </div>
  <div class="details-content">
    <div class="details-content-description">
      <p>
        Tipo de Apresentação:
        <span class="details-content-description-bold">Pôster</span>
      </p>
      <p>
        Eixo temático:
        <span class="details-content-description-bold">
          Alimentação e saúde (AS)
        </span>
      </p>
      <p>
        Palavras-chaves:
        <span class="details-content-description-bold">
          Alimentos funcionais, alimentação escolar.
        </span>
      </p>
    </div>
    <br />

    <div class="details-content-authors">
      <p><span class="details-content-authors-bold">Autores:</span></p>
      <p>Galileo Galilei¹</p>
      <p>Berta Lange de Morretes²</p>
      <p>Isaac Newton³</p>
      <p>Cesar Lattes¹</p>
      <p>Stephen Hawking⁴</p>
    </div>
    <br />

    <div class="details-content-note">
      <p>¹Universidade Estadual de Campinas</p>
      <p>²Universidade de São Paulo</p>
      <p>³Instituto Nacional de Pesquisas Espaciais</p>
      <p>⁴Universidade Federal do Rio de Janeiro</p>
    </div>
  </div>
</section>
